@{
    ViewBag.Title = "Informacje o nas";
}
@model IEnumerable<Clinic.Entities.Models.Doctor>

<h2>@ViewBag.Title</h2>
<p>
    Klinika założona przez trzech lekarzy pasjonatów, jest jednym z wiodących ośrodków w zakresie leczenia chorób mózgowo-naczyniowych w Polsce.
    Jako jedna z pierwszych w Polsce rozpoczęła leczenie udarów niedokrwiennych mózgu metodą trombektomii mechanicznej.
    Zajmujemy się również diagnozą psychologiczną jest ona bardzo ważnym elementem diagnozy pacjenta. 
    Mieści się w zakresie diagnozy psychiatrycznej i jest niezbędna do uzyskania całościowego obrazu danej osoby. 
    Diagnozę psychologiczną w klinice PsychoMedic.pl wykonują wyłącznie doświadczeni specjaliści z wieloletnim doświadczeniem 
    klinicznym. Możliwa jest diagnoza zarówno osoby dorosłej, jak i dzieci i młodzieży.
</p>
<div class="clinic-image">
    <img src="~/images/clinic3.jpg" />
</div>
