@{
    ViewBag.Title = "Strona kontaktowa";
}
<h2>@ViewBag.Title.</h2>

<address>
    Słowackiego 1/3<br />
    87-100, Toruń<br />
    <abbr title="Phone">Telefon:</abbr>
    500 470 970
</address>

<address>
    <strong>Pytania:</strong> <a href="mailto:pomoc@musketeersmed.com" style="color: blue">pomoc@musketeersmed.com</a>
</address>