@{
    ViewBag.Title = "Strona główna";
}
<link href="/Content/home.css" rel="stylesheet">
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-6" >
            <h1>MusketeersMed</h1>
            <p class="lead">Klinika prowadzona przez trzech lekarzy, którzy niczym trzej muszkieterowie uzupełniają się wzajemnie wiedzą oraz doświadczeniem.</p>
        </div>
    <div class="col-sm-6">
        <p class="text-right"><img src="~/images/nowy6.png" /></p>
    </div>
    </div>
        <p><a href="/Visits/Create" class="btn btn-primary btn-lg">Umów się na wizytę &raquo;</a></p>
</div>

<div class="row" >
    <h1 class="text-center div-h1 select-text">Zapisz się do lekarza w trzech prostych krokach</h1>
    <div class="div-box select-text">
        <div class=" col-sm-2 div-steps lead div-box1">
            <h3 class="text-center text-steps">Znajdź lekarza</h3>
            <i class="fas fa-user-nurse fontawesome-style"></i>
        </div>
        <div class="col-sm-2 lead div-steps div-box2">
            <h3 class="text-center text-steps">Wybierz termin</h3>
            <i class="far fa-clock fontawesome-style"></i>
        </div>
        <div class=" col-sm-2 lead div-steps div-box3">
            <h3 class="text-center text-steps">Umów wizytę</h3>
            <i class="far fa-calendar-alt fontawesome-style"></i>
        </div>
    </div>
    <div class="row  doctors-container">
        <h1 class="text-center col-sm-12 select-text">Nasi specjaliści</h1>
        <div class="doctors-container-only">
            <div class="col-sm-3  doctor-info lead">
                <h3 class="text-center">lek. Maciej Świechowicz</h3>
                <p class="text-center text-color-specialization">Neurolog</p>
                <div class="text-details lead select-text">
                    <p>
                        Zajmuje się diagnozowaniem i leczeniem chorób obwodowego i ośrodkowego układu nerwowego osób dorosłych. Dodatkowo w Klinice prowadzi program lękowy leczenia spastyczności poudarowej kończyny górnej i dolnej.
                        Systematycznie poszerza swoją wiedzę uczestnicząc w licznych warsztatach i konferencjach.
                    </p>
                </div>
            </div>
            <div class="col-sm-3 lead doctor-info">
                <h3 class="text-center">lek. Kacper Stodolak</h3>
                <p class="text-center text-color-specialization">Kardiolog</p>
                <div class="text-details lead select-text">
                    <p>
                        Po ukończeniu stażu podyplomowego pracował w Szpitalu Miejskim w Toruniu prowadząc Intensywny Nadzór Kardiologiczny.
                        W 2002 roku uzyskał II stopień specjalizacji z kardiologi. Uczestniczył w kursach z dziedziny elekrofizjologii i arytmologii.
                        Oprócz konsultacji kardiologicznych zajmuje się analizą zaburzeń rytmu serca.
                    </p>
                </div>
            </div>
            <div class="col-sm-3 lead doctor-info">
                <h3 class="text-center">dr. Michał Jabłoński</h3>
                <p class="text-center text-color-specialization">Psycholog, Internista</p>

                <div class="text-details lead select-text">
                    <p>
                        Jako psycholog pracuje od 2004 roku.
                        Swoje doświadczenie zawodowe zdobywał w Hospicjum "Światło", Akademii Walki z Rakiem, Poradni Zdrowia Psychicznego Lecznic Citomed Sp. zo.o. oraz NZOZ Remedis.
                        Obecnie stale poszerza swoją wiedzę na szkoleniach i warsztatach z zakresu diagnozy i psychoterapii.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
